@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Fira Code:400,700');

// Bulma Reset
$family-primary: "Fira Code", sans-serif;

$body-background-color: #161a1d;
$body-background-color-secundary: #1f2328;
$body-color: #d6d6d6;
$content-heading-color: #c71054;

// Bulma
@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/elements/content.sass";

// Meu CSS Reset
@import "./reset.scss";

body {
  // CSS Pattern - https://www.magicpattern.design/tools/css-backgrounds
  background-color: $body-background-color;
  background-image: radial-gradient(#1f2328 1.5px, $body-background-color 1.5px);
  background-size: 30px 30px;
  opacity: 1;
  overflow-x: hidden;
}

a {
  color: #626f7f;

  &:hover {
    color: #9db2cc;
  }
}

.content {
  text-align: justify;
}
