---
import LayoutDefault from "../layouts/Default.astro"
import PostTitle from '../components/PostTitle.astro';
---

<LayoutDefault>
  <section>
    <PostTitle>Sobre?</PostTitle>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur ipsam ex deleniti incidunt tempore, enim asperiores sapiente totam temporibus? Illo corrupti quibusdam dolor, dolore dicta fugiat voluptate repellat molestias eos?</p>
  </section>
</LayoutDefault>
