---
const today = new Date();
---

<footer class="me-footer">
  <nav>
    <a href="https://www.linkedin.com/in/jonathanbergson/" target="_blank">
      linkedin
      <!-- <font-awesome-icon :icon="['fab', 'linkedin']" /> -->
    </a>
    <a href="https://github.com/jonathanbergson" target="_blank">
      github
      <!-- <font-awesome-icon :icon="['fab', 'github']" /> -->
    </a>
    <a href="https://jonathanbergson.itch.io/" target="_blank">
      itch.io
      <!-- <font-awesome-icon :icon="['fab', 'itch-io']" /> -->
    </a>
  </nav>
</footer>

<style>
.me-footer {
  align-items: center;
  justify-content: center;
  font-size: 24px;
  display: flex;
  height: 200px;
}
</style>
