---
export interface Props {
  pubDate?: string;
  updatedDate?: string;
}

const { pubDate, updatedDate } = Astro.props;
---

<article class="content">
  {pubDate && <time>{pubDate}</time>}
  {updatedDate && <div>Última atualizaão <time>{updatedDate}</time></div>}
  <slot />
</article>
