<div class="content">
  <h1 class="me-PostTitle">
    <slot />
  </h1>
</div>

<style lang="scss" scoped>
$body-background-color: #161a1d;
$body-background-color-secundary: #1f2328;
$body-color: #d6d6d6;
$content-heading-color: #c71054;

.me-PostTitle {
  background-color: $content-heading-color;
  color: $body-color !important;
  display: inline-block;
  margin: 24px -0;
  padding: 12px 24px;
  text-align: left;
}
</style>
